He importat llibreries (dependències externes) com:
psycopg2 per a la connexió a la base de dades, bcrypt per a l'encriptació de contrasenyes i customtkinter per a una millor interfície gràfica

Instal·lació amb la seguent comanda:
pip install psycopg2 bcrypt customtkinter
pip install tkcalendar

Versions:
psycopg2==2.9.11
bcrypt==5.0.0
customtkinter==5.2.2

Tot i que utilitzem base64 per codificar el fitxer, la contrasenya no es guarda en text pla, sinó que s’aplica un hash per garantir la seguretat.

Entorn virtual:
python -m venv entorn-login
entorn-login\Scripts\activate

He creat dos usuaris a la base de dades: prova1 (amb rol d'administrador) i prova2 (amb rol d'usuari normal). L'usuari admin té permisos per gestionar usuaris, mentre que l'usuari normal només pot iniciar sessió i veure el menú principal.
La contrasenya per a tots dos usuaris és "1234", els he creat per que es puguin fer les proves sense necessitat de connectar-se a la bsae de dades. El codi real per connectar-se l'he comentat per evitar que hi hagin errors, ja que la BD no està creada i no es pot connectar encara. Quan es crei la base de dades i es posin les dades correctes, només caldrà descomentar el codi i ja funcionarà.